.ant-table-row:hover {
  cursor: pointer;
  background-color: #f0f5ff !important;
}

.row-replied {
  background-color: #cff8e8 !important;
}
.row-unreplied {
  background-color: #f7eebe !important;
}

